<!doctype html>
<html>
<head>
    <title>Welcome to Africa</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> AFRICA</h1>

    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <!-- LOGIN FORM -->
    <form action="/login" method="post" class="frontPage">
        <!-- <img src="img/africa1.jpg" alt="72" height="57"> -->
        <h2>Please Sign In</h2>
        <div class="form-group">
            <input type="email" placeholder="Email here" class="form-control" name="email">
            
        </div>

        <div class="form-group">
            <input type="password" placeholder="Password" class="form-control" name="password">
        
        </div>
        <div>
            <label for="">
                <input type="checkbox" value="remember-me"> "Remember me"
            </label>
        </div>


        <button type="submit" class="btn btn-warning btn-lg">Login</button>
    </form>

    <hr>

    <p>Need an account? <a href="/signup">Signup</a></p>
    <p>Or go <a href="/">home</a>.</p>


</div>
</div>
</body>
</html>
