<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    
    <h1>Welcome to Africa!</h1>
    <!-- list of culture, Food, event, activities, shopping -->
    <section>
        <h3>Culture</h3>
            <select id="element">
            <option value="1">Earth</option>
            <option value="2">Fire</option>
            <option value="3">Water</option>
          </select>
        <h3>Food</h3>
          <select id="wickedness"> 
            <option value="1">Anger</option>
            <option value="2">Alcohol</option>
            <option value="3">Lightning</option>
          </select>
        <h3>Event</h3>
          <select id="color">
            <option value="1">Green</option>
            <option value="2">Red</option>
            <option value="3">Blue</option>
          </select>
        <h3>Acticities</h3>
          <select id="power"> Power
            <option value="1">Strong</option>
            <option value="2">Fast</option>
            <option value="3">fly</option>
          </select>
    
          
</body>
</html>